body
{
    background-image:url("../images/library.jpg");
}
.background
{
    width:100%;
    height:1000px;
    background-image:url("../images/library.jpg");
}

.form-box
{
    width:60%;
    margin:auto;
    height:700px;
    margin-top:40px;
    border:8px solid #fff;

    color:#fff;
}

.fg
{
    margin-left:50px;
    margin-right:50px;
}

.formtitle
{
    text-align:center;
}